{% extends 'portfolio/base.html' %}
{% block content %}
<br><br>
<h1 class="text-center">Welcome to my Blog!</h1>

<div class="container">
{% for blog in blogs %}
    <div class="card text-center">
        <div class="card-header text-muted">
            <span>{{forloop.counter}} / {{blogs.count}}</span>
        </div>
        <div class="card-body text-center">
            <h5 class="card-title"><h3> {{blog.title}} </h3></h5>
            <p class="card-text">{{blog.text|truncatechars:50}}</p>
            <a href="{% url 'blog:detail' blog.id %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted text-center">
            <span><time datetime="PTD"> {{blog.date|date:'y. m. d. '}} </time></span>
        </div>
    </div>
<br>
{% endfor %}
</div>

<p> scroller, infinite scroll</p>
{% endblock %}